/*  */

.about {
  width: 80%;
  height:700px;
  text-align: center;
  margin: 0 auto;
  margin-top: 28px;
  color:rgb(252,183,4);
  z-index: 9999;
}

h6 {
  font-size: 2rem;
}

/* "width:80%;text-align:center;margin:0 auto;margin-top:28px;" */
